:plain
  <div data-role='page' id='home_page' data-add-back-btn='false'>

    <div data-role='header' data-position='fixed'>
      <h1>CodeMash</h1>
    </div><!-- /header -->

    <div data-role='content'>
      <ul data-role='listview' id='sessions_list'></ul>
    </div><!-- /content -->

  </div><!-- /page -->

:javascript
  $(function() {
    Database.initialize();

    var sessions = Database.sessions;

    var view = new SessionsListView({collection: sessions});
    view.render();
  });

