:plain
  <div data-role='page' id='home_page' data-add-back-btn='false'>

    <div data-role='header' data-position='fixed'>
      <h1>CodeMash</h1>
    </div><!-- /header -->

    <div data-role='content'>
      <ul data-role='listview' id='sessions_list'></ul>
    </div><!-- /content -->

  </div><!-- /page -->

  <script type='text/template' id='sessions_list_item_template'>
    <a href='#'>
      <div class='title'><%= title %></div>
      <div class='wherewhen'>
        <%= when %>
        <%= room %>
      </div>
      <div class='speaker'><%= speakerName %></div>
    </a>
  </script>

:javascript
  $(function() {
    Database.initialize();

    var sessions = Database.sessions;

    var view = new SessionsListView({collection: sessions});
    view.render();
  });

