:plain
  <div data-role='page' id='home_page' data-add-back-btn='false'>

    <div data-role='header' data-position='fixed'>
      <h1>CodeMash</h1>
    </div><!-- /header -->

    <div data-role='content'>
      <ul data-role='listview'>
        <li><a href='#precompiler_sessions'>Precompiler</a></li>
        <li><a href='#thursday_sessions'>Thursday</a></li>
        <li><a href='#friday_sessions'>Friday</a></li>
      </ul>
    </div><!-- /content -->

  </div><!-- /page -->

  <script type='text/template' id='sessions_list_template'>
    <div data-role='header' data-position='fixed'>
      <h1><%= navBarTitle %></h1>
    </div><!-- /header -->

    <div data-role='content'>
      <ul data-role='listview' class='sessions_list'></ul>
    </div><!-- /content -->
  </script>

  <script type='text/template' id='sessions_list_item_template'>
    <a href='#'>
      <div class='title'><%= title %></div>
      <div class='wherewhen'>
        <%= when %>
        <%= room %>
      </div>
      <div class='speaker'><%= speakerName %></div>
    </a>
  </script>

  <script type='text/template' id='page_template'>
    <div data-role='page'>

      <div data-role='header' data-position='fixed'>
        <h1>Title</h1>
      </div><!-- /header -->

      <div data-role='content'>
      </div><!-- /content -->

    </div><!-- /page -->
  </script>

:javascript
  $(function() {
    Database.initialize();
    var sessions = SessionFilter.friday();

    var view = new SessionsListView({
      collection: sessions,
      el: $("#home_page .sessions_list")
    });
    view.render();
  });

