:plain
  <script>
    if (location.href.search(/#/) !== -1) location.href = '/';
  </script>

  <!-- preload the map image -->
  <img src='#{ image_path('room_map.jpg') }' style='display: none;'>

  <div data-role='page' id='home_page' data-add-back-btn='false'>

    <div data-role='header' data-position='fixed'>
      <h1>CodeMash 2012</h1>
    </div><!-- /header -->

    <div data-role='content'>
      <ul data-role='listview' data-inset='true'>
        <li><a href='#precompiler_sessions'>Precompiler</a></li>
        <li><a href='#thursday_sessions'>Thursday</a></li>
        <li><a href='#friday_sessions'>Friday</a></li>
      </ul>
    </div><!-- /content -->

  </div><!-- /page -->

  <script type='text/template' id='room_map_template'>
    <div data-role='page' id='room_map'>
      <a href='#' class='ui-btn-left' data-icon='arrow-l' onclick="history.back(); return false">Back</a>
      <img class='map' src='#{ image_path('room_map.jpg') }' width='1182' height='1438'>
      <img class='dot' src='#{ image_path('dot.png') }'>
    </div>
  </script>

  <script type='text/template' id='sessions_list_template'>
    <div data-role='header' data-position='fixed'>
      <h1><%= navBarTitle %></h1>
    </div><!-- /header -->

    <div data-role='content'>
      <ul data-role='listview' class='sessions_list'></ul>
    </div><!-- /content -->
  </script>

  <script type='text/template' id='sessions_list_item_template'>
    <a href='<%= href %>'>
      <div class='title'><%= title %></div>
      <div class='wherewhen'>
        <%= when %>
        <%= room %>
      </div>
      <div class='speaker'><%= speakerName %></div>
    </a>
  </script>

  <script type='text/template' id='session_list_page_template'>
    <div data-role='page'>

      <div data-role='header' data-position='fixed'>
        <h1>Session List</h1>
      </div><!-- /header -->

      <div data-role='content'>
        <ul data-role='listview' class='sessions_list'></ul>
      </div><!-- /content -->

    </div><!-- /page -->
  </script>

  <script type='text/template' id='session_detail_page_template'>
    <div data-role='header' data-position='fixed'>
      <h1>Session</h1>
    </div><!-- /header -->

    <div data-role='content' class='session_detail'>
      <h2><%= title %></h2>
      <div class='speaker'><%= speaker %></div>

      <ul data-role='listview' data-inset='true'>
        <li class='room col'>
          <a href='#'><label>Where</label><%= room %></a>
        </li>
        <li class='when col'><label>When</label><%= when %></li>
        <li class='technology col'><label>Tech</label><%= technology %></li>
        <li class='difficulty col'><label>Difficulty</label><%= difficulty %></li>
        <li class='track col'><label>Track</label>&nbsp;<%= track %></li>
        <li class='abstract'>
          <label>Abstract</label>
          <%= abstract %>
        </li>
      </ul>

    </div><!-- /content -->
  </script>

