<html manifest='cache.manifest'>
<head>
    <title>iCodeMash</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script src="js/lib/jquery.js" type="text/javascript"></script>
    <script src="jqtouch/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">@import "jqtouch/jqtouch.css";</style>
    <style type="text/css" media="screen">@import "themes/jqt/theme.css";</style>

    <script src='js/util.js' type="text/javascript"></script>
    <script src='js/session.js' type="text/javascript"></script>
    <script src='js/panels.js' type="text/javascript"></script>
    <script src='js/menu_list.js' type="text/javascript"></script>
    <script src='js/formatting.js' type="text/javascript"></script>
    <script src='js/cache_manager.js' type="text/javascript"></script>
    <script src='js/schedule.js' type="text/javascript"></script>
    <script src='js/next_slot.js' type="text/javascript"></script>
    <script src='js/favorites.js' type="text/javascript"></script>
    <script src='js/map.js' type="text/javascript"></script>
    <script src='js/searcher.js' type="text/javascript"></script>
    <script src='js/main.js' type="text/javascript"></script>

    <style type="text/css" media="screen">@import "/css/main.css";</style>

</head>

<body>
  <div id="ui">
    <div class="toolbar">
      <h1>iCodeMash</h1>
    </div>

    <h2>Next Session</h2>
    <ul id='nextSession' class='rounded'>
      <li>Loading...</li>
    </ul>

    <ul id='favListLink' class='rounded'>
      <li class='arrow'><a class='favorite' href="#favorites">Favorites</a></li>
      <li class='arrow'><a id='searchMenuLink' href='#search'>Search...</a></li>
    </ul>

    <h2>2012 Schedule</h2>
    <ul id='startingSchedule' class='rounded'>
      <li>Loading...</li>
      <li>Loading...</li>
      <li>Loading...</li>
    </ul>

    <ul class='rounded'>
      <li class='arrow'><a href='#aboutThisApp'>About this app</a></li>
      <li class='arrow'><a href='#conferenceMap'>Conference Map</a></li>
    </ul>

    <div id="version">
      Offline Cached Version <%= build_version %>
    </div>

    <div class='navellogo'>
      <a href='http://navel-labs.com' rel='external'><img src='/img/navellabs.png' alt='Navel Labs'></a>
    </div>
  </div>

  <div id='favorites'>
    <div class="toolbar">
      <a class='back' href='#'>Back</a>
      <h1>Favorites</h1>
    </div>
  </div>


  <div id='search'>
    <div class="toolbar">
      <a class='back' href='#'>Back</a>
      <h1>Search</h1>
    </div>

    <ul class='edit rounded'>
      <li class='search'>
        <input type='text' placeholder='Type title or author here' style='color: #fff' id='searchBox'>
      </li>
    </ul>

    <h2>Search Results</h2>
    <ul class='rounded results'></ul>
  </div>

  <div id='aboutThisApp'>
    <div class="toolbar">
      <a class='back' href='#'>Back</a>
      <h1>About</h1>
    </div>

    <%= about_content %>

    <div class='navellogo'>
      <a href='http://navel-labs.com' rel='external'><img src='/img/navellabs.png' alt='Navel Labs'></a>
    </div>

    <ul class='rounded'>
      <li class='arrow'><a href='#changeLog'>Change Log</a></li>
    </ul>
  </div>

  <div id='conferenceMap'>
    <a class='back' href='#'>Back</a>

    <img class='map' src='/img/conference_map.png'>
    <img class='dot' src='/img/dot.png'>
  </div>

  <div id='changeLog'>
    <div class="toolbar">
      <a class='back' href='#'>Back</a>
      <h1>Change Log</h1>
    </div>

    <div class='content'>
      <h1>Version 2</h1>
      <ul>
        <li>Updated schedule.</li>
      </ul>

      <h1>Version 1</h1>
      <ul>
        <li>First public release for CodeMash 2011!</li>
      </ul>
    </div>
  </div>

</body>

</html>
