/*
 *= require_tree './vendor'
 */
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

#sessions_list li {
  .title {
    font-size: .9em;
    padding-bottom: .3em;
    overflow: hidden;
    margin-right: 0em;
    text-overflow: ellipsis;
  }

  .speaker, .wherewhen {
    font-size: .7em;
    font-weight: normal;
    padding-right: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .wherewhen {
    float: right;
  }
}

