body { background-color: #333; color: #eee; font-family: Helvetica, sans-serif; }
body { background: -webkit-gradient(linear, 0% 0%, 0% 140%, from(#111), to(#5e5e65)); }
h1 { font: bold 18px Helvetica; text-shadow: rgba(255,255,255,.2) 0 1px 1px; color: #aaa; margin: 10px 20px 15px 0px; }
#noWebKit { margin: 0px auto; padding: 3em 3em 1em 3em; width: 780px; font-size: 15px; }
#noWebKit img { margin: 10px 0 0 40px; float: right; border: solid 1px black; }
#noWebKit > div { width: 420px; }
p { margin-bottom: 1em; line-height: 1.5em; }
p.meta > span { display: block; float: left; width: 80px; }
p br { clear: both; }
a { color: #FF782E; }
a, a img { border: none; }

ul { margin-bottom: 2em; }
ul li { margin-bottom: .5em; }

.alert { width: 600px; margin: 0 auto; line-height: 1.5em; font-size: 14px; text-align: center; background-color: #633; padding: 20px 60px; }
.aligncenter { text-align: center; }
.alignright { text-align: right; }

.navellogo { text-align: center; padding-bottom: 60px; }
.navellogo img { opacity: 0.7; }
