<html>
<head>
  <title>iCodeMash</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <script type="text/javascript">
    if(navigator.appVersion.indexOf('iPhone OS ') > 0) {
      location.href = '/app.html';
    }
  </script>

  <style type="text/css" media="screen">@import "/nocache/index.css";</style>

</head>

<body>
  <div class='alert'>
    You are seeing this page because you're not viewing with an iPhone or iPod touch.<br>
    To view the CodeMash schedule app anyway, click <a href="/app.html">here</a>.
  </div>
  <div id="noWebKit">
    <a href="/app.html"><img src='/nocache/demo.jpg' alt='iCodeMash 2010'></a>

    <%= about_content %>
  </div>
</body>

</html>
