<html manifest='cache.manifest'>
<head>
    <title>iCodeMash</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script src="js/lib/jquery.js" type="text/javascript"></script>
    <script src="jqtouch/jqtouch.min.js" type="application/x-javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">@import "jqtouch/jqtouch.min.css";</style>
    <style type="text/css" media="screen">@import "themes/jqt/theme.min.css";</style>

    <script src='js/util.js' type="text/javascript"></script>
    <script src='js/presentation.js' type="text/javascript"></script>
    <script src='js/panels.js' type="text/javascript"></script>
    <script src='js/menu_list.js' type="text/javascript"></script>
    <script src='js/formatting.js' type="text/javascript"></script>
    <script src='js/main.js' type="text/javascript"></script>

    <style type="text/css" media="screen">@import "main.css";</style>

</head>

<body>
  <div id="ui">
    <div class="toolbar">
      <h1>iCodeMash</h1>
    </div>

    <h2>Next Session</h2>
    <ul id='nextSession'></ul>

    <h2>2010 Schedule</h2>
    <ul id='startingSchedule'></ul>

    <ul class='rounded'>
      <li class='arrow'><a href='#aboutThisApp'>About this app</a></li>
    </ul>

    <div id="version">
      Offline Cached Version <%= build_version %>
    </div>
  </div>

  <div id='aboutThisApp'>
    <div class="toolbar">
      <h1>About</h1>
    </div>

    <div class='description'>
      Yup, here's where stuff goes.
    </div>
  </div>

  <%= schedule %>
</body>

</html>
