<html manifest='cache.manifest'>
<head>
    <title>iCodeMash</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script src="js/lib/jquery.js" type="text/javascript"></script>
    <script src="jqtouch/jqtouch.min.js" type="application/x-javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">@import "jqtouch/jqtouch.min.css";</style>
    <style type="text/css" media="screen">@import "themes/jqt/theme.min.css";</style>

    <script src='js/util.js' type="text/javascript"></script>
    <script src='js/session.js' type="text/javascript"></script>
    <script src='js/panels.js' type="text/javascript"></script>
    <script src='js/menu_list.js' type="text/javascript"></script>
    <script src='js/formatting.js' type="text/javascript"></script>
    <script src='js/cache_manager.js' type="text/javascript"></script>
    <script src='js/main.js' type="text/javascript"></script>

    <style type="text/css" media="screen">@import "main.css";</style>

</head>

<body>
  <div id="ui">
    <div class="toolbar">
      <h1>iCodeMash</h1>
    </div>

    <h2>Next Session</h2>
    <ul id='nextSession' class='rounded'>
      <li>Loading...</li>
    </ul>

    <h2>2010 Schedule</h2>
    <ul id='startingSchedule' class='rounded'>
      <li>Loading...</li>
      <li>Loading...</li>
      <li>Loading...</li>
    </ul>

    <ul class='rounded'>
      <li class='arrow'><a href='#aboutThisApp'>About this app</a></li>
    </ul>

    <div id="version">
      Offline Cached Version <%= build_version %>
    </div>
  </div>

  <div id='aboutThisApp'>
    <div class="toolbar">
      <a class='back' href='#'>Back</a>
      <h1>About</h1>
    </div>

    <div class='description'>
      <p><b>iCodeMash Schedule 2010</b></p>
      <p>If you're like me, you may be overwhelmed by all the <b>great</b> sessions planned for this year's CodeMash. Last year, I found myself picking sessions to attend at the very last minute. I'd flip through the paper schedule to see what's next, what it's about, and where to find it.</p>
      <p>Hey, it's 2010! Paper schedules are so last decade. There's a little more work to do on this app before the conference. A few style tweaks here, and touch ups there. But the structure is in place.</p>
      <p>This web app can be run offline and installed to your iPhone/iPod Touch home screen by using the "+" button at the bottom of Mobile Safari.
      You might be able to get this to work on other WebKit based browsers, but I haven't tested it.
      The app can tell if it's been updated and will automatically download new versions of itself.</p>
      <p>You're using an <a href="http://developer.apple.com/safari/library/documentation/iPhone/Conceptual/SafariJSDatabaseGuide/OfflineApplicationCache/OfflineApplicationCache.html">HTML5 Offline</a> Web application customized for the iPhone/iPod Touch by the <a href="http://www.jqtouch.com/">jQTouch</a> plugin for <a href="http://www.jquery.com">jQuery</a>.
        It's served up to you by a <a href="http://rack.rubyforge.org/">Ruby/Rack</a> application on <a href="http://heroku.com">Heroku</a>.</p>
      <p>You can get the source code on <a href="http://github.com/jonathanpenn/icodemashschedule">github</a>.</p>
      <p>Feel free to contact me if you have any questions or if you notice anything amiss.</p>
      <p>
        Jonathan Penn<br>
        <a href="http://www.wavethenavel.com">http://wavethenavel.com</a><br>

        <script type="text/javascript">
        //<![CDATA[

        function hiveware_enkoder(){var i,j,x,y,x=
        "x=\"783d223137783d33406c5c2239392b7572383935693e2a3a3b392a407c3335343e3532" +
        "39663625653635353b333665353839363c35373a3c35353b39353a303d693a3a6828726f35" +
        "373a663b29683938782865396739706163383a3673656e396939753d783739353b27273225" +
        "403d793b7b5c5c5c225c5c5c227c3d78343232253967393e2c2c3a3933352f6c3768392b75" +
        "7768393876657839333a76317b6835682e2a283934392a2b683b3937533d2b3a3439793b34" +
        "683969393d2b3964396a2932643669333c6a39373a28666966393c3b332d39343929692867" +
        "3935744165356638646f43673668726168363535632e7866383b3d6a7b39363a292b2b3439" +
        "67693b6837383974676e373969656c2e393637783c693c3967797d2936373a6a2865363938" +
        "646f43396439726168353938436d6f3a363a72662e693667676e6939693972745c22363968" +
        "3b793d35663927273b3c3968666f7236343928693d693566303b693667393c782e6939366c" +
        "656e39683567746866393c3b692b3934393d353467393a297b663933376f72286839686a3d" +
        "4d393839617468333a682e6d693568396e287834393b2e6c6539373a6e6774343968682c69" +
        "3969392b3534643973293b2d6466762d6a3e6871783d693b402e7c297b797e2c352b3d7840" +
        "2e6c2e63683e6b776172416a716874286a6f317b293b7d3f6c3e7d793b223b6a3d6576616c" +
        "28782e636861724174283029293b783d782e7375627374722831293b793d27273b666f7228" +
        "693d303b693c782e6c656e6774683b692b3d36297b792b3d782e73756273747228692c3329" +
        "3b7d666f7228693d333b693c782e6c656e6774683b692b3d36297b792b3d782e7375627374" +
        "7228692c33293b7d793d792e737562737472286a293b\";y='';for(i=0;i<x.length;i+=" +
        "2){y+=unescape('%'+x.substr(i,2));}y";
        while(x=eval(x));}hiveware_enkoder();

        //]]>
        </script>
      </p>
    </div>

    <ul class='rounded'>
      <li class='arrow'><a href='#changeLog'>Change Log</a></li>
    </ul>
  </div>

  <div id='changeLog'>
    <div class="toolbar">
      <a class='back' href='#'>Back</a>
      <h1>Change Log</h1>
    </div>

    <div class='description'>
      <p>Version 1</p>
      <ul>
        <li>First public release.</li>
      </ul>
    </div>
  </div>

</body>

</html>
