body > div > h2 { color: black; }

.session > .meta > * { margin: 0px 0px .5em; 0px; padding: 0px; }
.session > .meta { padding: 20px; }
.session > .meta > h1 { color: white; margin-bottom: 1em; text-shadow: none; }

.session > .meta > .location:before { content: "Where: "; display: block; float: left; width: 70px; font-weight: bold }
.session > .meta > .author:before { content: "Author: "; display: block; float: left; width: 70px; font-weight: bold }
.session > .meta > .endTime { display: none; }

div.session .description p { margin-bottom: 1em; }

#version { text-align: center; color: #aaa; padding-bottom: 20px; text-transform: uppercase; font-size: .7em; }

body > div > .description { padding: 20px; line-height: 1.6em; }
body > div > .description ul { background: none; border: none; line-height: 1.6em; }
body > div > .description ul li { list-style-type: disc; overflow: visible; background: none; border: none; padding: 0px; margin: 0px 0px 0px 10px; color: white; font-weight: normal; font-size: 1em; }
