%html(manifest="/application.manifest")
  %head
    %title iCodeMash

    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %meta(name="apple-mobile-web-app-capable" content="no")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")

    :javascript
      if (location.href.search(/#/) !== -1) location.href = '/';

    =stylesheet_link_tag    "application"
    =javascript_include_tag "application"

    %link(rel="apple-touch-icon" href="/assets/icon.png")

  %body
    =yield
