%html
  %head
    %title iCodeMash
    :javascript
      if (location.href.search(/#/) !== -1) location.href = '/';

    =stylesheet_link_tag    "application"
    =javascript_include_tag "application"
    =csrf_meta_tags

    %meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;")
    %meta(name="apple-mobile-web-app-capable" content="yes")

  %body
    =yield
