%html(manifest="/application.manifest")
  %head
    %title iCodeMash

    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %meta(name="apple-mobile-web-app-capable" content="no")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")

    :javascript
      if (location.href.search(/#/) !== -1) location.href = '/';

    =stylesheet_link_tag    "application"
    =javascript_include_tag "application"

    %link(rel="apple-touch-icon" href="/assets/icon.png")

  %body
    =yield

    :javascript

      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50e74b16613f5d7f89000015');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
